<template name="friendList">
	<div class="topBar navbar-fixed-top">
		<a href="{{pathFor 'userCenter'}}" class="avatar pull-left"><img src="tx.jpg"></a>
		<a href="{{pathFor 'friendAdd'}}" class="glyphicon glyphicon-plus pull-right"></a>
		我的好友
	</div>
	<div class="mainContent">
		<div class="list-group">
			{{#each friends}}
				<a href="{{pathFor 'chat'}}" class="list-group-item">
					{{#if unreadCount}}<span class="badge">{{unreadCount}}</span>{{/if}}
				    {{username}}
			    </a>
			{{/each}}
		</div>
	</div>
</template>